In [45]:
import sklearn
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from tabulate import tabulate

In [46]:
iris = pd.read_csv('Iris.csv')
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [47]:
x_variable = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
y_variable = ['Species']

x = np.array(iris[x_variable]).reshape(-1, 4)
y = np.array(iris[y_variable]).reshape(-1, 1)

print(x.shape)
print(y.shape)

(150, 4)
(150, 1)

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1) #stop data from being random

print(x_train.shape)
print(x_test.shape)

(120, 4)
(30, 4)

In [49]:
# build model
knn_neighbor = KNeighborsClassifier(n_neighbors=5, n_jobs=-1).fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [50]:
y_predict = knn_neighbor.predict(x_test)
print(y_predict)

['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica']



---


**The Assignment**


---

In [51]:
# Create a table with y_predict and y_test as columns
y_predict = list(y_predict)
y_test = list(y_test)

table = pd.DataFrame({"y_predict": y_predict, "y_test": y_test})
print(table)

          y_predict             y_test
0       Iris-setosa      [Iris-setosa]
1   Iris-versicolor  [Iris-versicolor]
2   Iris-versicolor  [Iris-versicolor]
3       Iris-setosa      [Iris-setosa]
4    Iris-virginica   [Iris-virginica]
5   Iris-versicolor  [Iris-versicolor]
6    Iris-virginica   [Iris-virginica]
7       Iris-setosa      [Iris-setosa]
8       Iris-setosa      [Iris-setosa]
9    Iris-virginica   [Iris-virginica]
10  Iris-versicolor  [Iris-versicolor]
11      Iris-setosa      [Iris-setosa]
12   Iris-virginica   [Iris-virginica]
13  Iris-versicolor  [Iris-versicolor]
14  Iris-versicolor  [Iris-versicolor]
15      Iris-setosa      [Iris-setosa]
16  Iris-versicolor  [Iris-versicolor]
17  Iris-versicolor  [Iris-versicolor]
18      Iris-setosa      [Iris-setosa]
19      Iris-setosa      [Iris-setosa]
20  Iris-versicolor  [Iris-versicolor]
21  Iris-versicolor  [Iris-versicolor]
22  Iris-versicolor  [Iris-versicolor]
23      Iris-setosa      [Iris-setosa]
24   Iris-virginica   [Iris-virginica]
25  Iris-versicolor  [Iris-versicolor]
26      Iris-setosa      [Iris-setosa]
27      Iris-setosa      [Iris-setosa]
28  Iris-versicolor  [Iris-versicolor]
29   Iris-virginica   [Iris-virginica]

*What formula do Scikit use in calculating the probability of KNN?*
---
According to my research, Scikit use a very simple formula.
>**probaility = number_of_a_clas/k-value**

For example, we have **k=5**. After calculating the distance, we found that five closet neighbors are
* 3 of "Iris-setosa"
* 1 of "Iris-virginica"
* 1 of  "Iris-versicolor"

Thus the probability for each class is
* "Iris-setosa": 3/5 = 0.6
* "Iris-virginica": 1/5 = 0.2
* "Iris-versicolor": 1/5 = 0.2

*How to get the optimal k-value?*
---
A precedure to obtain the optimal k value is as follow:
1. Choosing a small k value (k=2 if possible)
2. Use it in KNN algorithm to predict the classes
3. calculate the percentage of wrong prediciton
4. increase k by s (s=1 if possible)
5. repeat step 2 to 4 as much as possible within the resource limit.
6. choosing k value that result in the minimum percentage.
7. If range of k is desired, choose the cluster of k's that have relatively low percentage and low fluctuation between each k.